@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
*{
    font-family: 'Patua One', cursive;

}
.footer{
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0%;
    display: flex;
    background-color: #10255D;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    text-align: center;
    color: white;

}
.footer h4{
    font-size: 1rem;
    padding: 1rem 1rem;
}