@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
*{
    font-family: 'Patua One', cursive;

}
.sticky{
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}